.githubIcon {
  background: center/contain url('./assets/github.svg');
}

.googleIcon {
  background: center/contain url('./assets/google.svg');
}
/* extend start*/
.feishuIcon {
  background: center/contain url('./assets/feishu.svg');
}
/* extend end*/
